<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Base URL</key>
	<string>https://target-api-induction-v2.herokuapp.com/api/v1</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Target App would like to use your location to ensure we can provide the best experience possible</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Target App would like to use your location to ensure we can provide the best experience possible</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Target App would like to use your location to ensure we can provide the best experience possible</string>
</dict>
</plist>
